.light-blue-backdrop {
  background-color: #5cb3fd !important;
}
.dark-modal .modal-content {
  background-color: #292b2c !important;
  color: white !important;
}
.dark-modal .close {
  color: white !important;
}
