<button class="btn btn-outline-primary mb-2 mr-2"
        (click)="openBackDropCustomClass(content)">
  Modal with backdrop custom class


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light"
            (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>
