<ul>
  <li class="mb-2">
    click dentro para cerrar:
    <button
      type="button" class="btn btn-outline-secondary"
      triggers="click" [autoClose]="'inside'" ngbTooltip="Click inside or press Escape
to close">
      Click to toggle
    </button>
  </li>
  <li class="mb-2">
    click fuera para cerrar:
    <button
      type="button" class="btn btn-outline-secondary"
      triggers="click" [autoClose]="'outside'" ngbTooltip="Click outside or press
Escape to close">
      Click to toggle
    </button>
  </li>
  <li class="mb-2">
    all clicks:
    <button
      type="button" class="btn btn-outline-secondary"
      triggers="click" [autoClose]="true"
      ngbTooltip="Click anywhere or press Escape to close (try the toggling element
too)"
      #tooltip3="ngbTooltip">
      Click to toggle
    </button>
    &nbsp;
    <button type="button" class="btn btn-outline-secondary mr-2"
            (click)="tooltip3.toggle()">
      Click to toggle the external tooltip
    </button>
  </li>
</ul>
