.dashboard-navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.dashboard-navigation-item {
  padding: 15px 150px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.dashboard-navigation-item-active {
  font-weight: bold;
  color: #ffffff;
  background: #ccc;
}
